// Typography
$font-family-default: 'Lato', sans-serif;
$font-weight-light: 300;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-default: 16px;
$font-size-lg: 20px;
$font-size-h3: 26px;

// Spacing
$spacing-xs: 8px;
$spacing-sm: 15px;
$spacing-md: 26px;
$spacing-default: 32px;
$spacing-stack-default: 16px;

// Color
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-30: #4D4D4D;
$color-gray-53: #888888;
$color-gray-95: #F3F1F1;
$color-blue: #1E62AB;

$color-link: $color-blue;
$color-link-hover: darken($color-link, 20%);

$drop-shadow-default: 0 2px 6px rgba($color-black, .3);
$border-radius-default: 4px;

// Contrast grid
$default-swatch-size: 80px;
