/* SortableJS drag states */
.cg-drag-helper {
    box-shadow: $drop-shadow-default;
    transform: scale(1.02);
}

.cg-drag-placeholder {
    background: #EFEFEF !important;
    box-shadow: 4px 5px 4px #C6C6C6 inset;

    * {
        visibility: hidden;
    }
}

.cg-contrast-grid__key-swatch--foreground {
    position: relative;

    .cg-contrast-grid__key-swatch-label {
        order: 2;
        margin-bottom: auto;
        margin-top: auto;
    }

    .cg-contrast-grid__key-swatch-controls {
        align-items: center;
        display: flex;
        order: 1;
        justify-content: space-between;
        left: 0;
        padding: $spacing-xs;
        padding-bottom: 0;
        padding-top: $spacing-xs / 2;
        position: absolute;
        top: 0;
        width: 100%;
        visibility: hidden;
    }

    .cg-contrast-grid__key-swatch-remove {
        margin-left: auto;
        margin-right: 0;
        order: 2;

        .cg-contrast-grid__key-swatch-remove-icon {
            height: $font-size-sm;
            width: $font-size-sm;
        }
    }

    &:hover {
        .cg-contrast-grid__key-swatch-controls {
            visibility: visible;
        }
    }
}

.cg-contrast-grid__key-swatch--background {
    .cg-contrast-grid__key-swatch-controls {
        align-items: center;
        display: none;
        margin-left: auto;
    }

    &:hover .cg-contrast-grid__key-swatch-controls {
        display: flex;
    }
}

.cg-contrast-grid__key-swatch-drag-handle--row {
    cursor: ns-resize;
}

.cg-contrast-grid__key-swatch-drag-handle--column {
    cursor: ew-resize;
}

.cg-contrast-grid__key-swatch-remove {
    margin-right: $spacing-xs;
}

.cg-contrast-grid__key-swatch-remove-icon,
.cg-contrast-grid__key-swatch-drag-handle-icon {
    fill: $color-white;
    height: $font-size-lg;
    width: $font-size-lg;

    .cg-contrast-grid--dark-label & {
        fill: $color-black;
    }
}

.cg-contrast-grid--row-and-column-removal-disabled *:hover .cg-contrast-grid__key-swatch-controls {
    display: none;
}
